In [49]:
import pandas as pd

In [50]:
import numpy as np

In [51]:
df1 = pd.read_csv('H:/hainyoung/project/1016_output/3frame_csv/dim_10_10frame.csv', encoding = 'utf-8')
df2 = pd.read_csv('H:/hainyoung/project/1016_output/3frame_csv/dim_10_16frame.csv', encoding = 'utf-8')
df3 = pd.read_csv('H:/hainyoung/project/1016_output/3frame_csv/dim_10_20frame.csv', encoding = 'utf-8')
df4 = pd.read_csv('H:/hainyoung/project/1016_output/3frame_csv/dim_10_22frame.csv', encoding = 'utf-8')
df5 = pd.read_csv('H:/hainyoung/project/1016_output/3frame_csv/dim_10_fullframe.csv', encoding = 'utf-8')
df6 = pd.read_csv('H:/hainyoung/project/1016_output/3frame_csv/indoor_10_22frame.csv', encoding = 'utf-8')
df7 = pd.read_csv('H:/hainyoung/project/1016_output/3frame_csv/indoor_12_22frame.csv', encoding = 'utf-8')
df8 = pd.read_csv('H:/hainyoung/project/1016_output/3frame_csv/indoor_15_22frame.csv', encoding = 'utf-8')
df9 = pd.read_csv('H:/hainyoung/project/1016_output/3frame_csv/outdoor_8_22frame.csv', encoding = 'utf-8')
df10 = pd.read_csv('H:/hainyoung/project/1016_output/3frame_csv/outdoor_10_22frame.csv', encoding = 'utf-8')
df11 = pd.read_csv('H:/hainyoung/project/1016_output/3frame_csv/outdoor_12_22frame.csv', encoding = 'utf-8')
df12 = pd.read_csv('H:/hainyoung/project/1016_output/3frame_csv/outdoor_12_bright_max_22frame.csv', encoding = 'utf-8')
df13 = pd.read_csv('H:/hainyoung/project/1016_output/3frame_csv/outdoor_12_saturation_max_22frame.csv', encoding = 'utf-8')
df14 = pd.read_csv('H:/hainyoung/project/1016_output/3frame_csv/standard_15_22frame.csv', encoding = 'utf-8')

In [52]:
df1

              date_time  speed  lane  auto
0    2020-10-1516:11:30    NaN     0     0
1    2020-10-1516:11:30    NaN     0     0
2    2020-10-1516:11:30    NaN     0     0
3    2020-10-1516:11:30    8.0     0     0
4    2020-10-1516:11:31    8.0     0     0
..                  ...    ...   ...   ...
851  2020-10-1516:16:32   38.0     0     0
852  2020-10-1516:16:32    NaN     0     0
853  2020-10-1516:16:33   34.0     0     0
854  2020-10-1516:16:33    NaN     0     0
855  2020-10-1516:16:33   26.0     0     0

[856 rows x 4 columns]

In [53]:
df1.isnull().sum() # dim_10_10frame

date_time      0
speed        231
lane           0
auto           0
dtype: int64

In [86]:
df1_mv = 231/856*100
print("df1_mv :", df1_mv)

df1_mv : 26.985981308411215

In [55]:
df2

              date_time  speed  lane  auto
0    2020-10-1516:17:18    8.0     0     0
1    2020-10-1516:17:19    8.0     0     0
2    2020-10-1516:17:19    8.0     0     0
3    2020-10-1516:17:19    8.0     0     0
4    2020-10-1516:17:20    8.0     0     0
..                  ...    ...   ...   ...
773  2020-10-1516:21:19    8.0     0     0
774  2020-10-1516:21:20    8.0     0     0
775  2020-10-1516:21:20    8.0     0     0
776  2020-10-1516:21:20    8.0     0     0
777  2020-10-1516:21:21    8.0     0     0

[778 rows x 4 columns]

In [56]:
df2.isnull().sum() # dim_10_16frame

date_time      0
speed        373
lane           0
auto           0
dtype: int64

In [88]:
df2_mv = 373/778*100
print("df2_mv :", df2_mv)

df2_mv : 47.943444730077125

In [89]:
df3

               date_time  speed  lane  auto
0     2020-10-1516:21:21    8.0     0     0
1     2020-10-1516:21:22    8.0     0     0
2     2020-10-1516:21:22    8.0     0     0
3     2020-10-1516:21:22    8.0     0     0
4     2020-10-1516:21:23    8.0     0     0
...                  ...    ...   ...   ...
1506  2020-10-1516:28:57    NaN     0     0
1507  2020-10-1516:28:57    NaN     0     0
1508  2020-10-1516:28:58    NaN     0     0
1509  2020-10-1516:28:58    NaN     0     0
1510  2020-10-1516:28:58    NaN     0     0

[1511 rows x 4 columns]

In [59]:
df3.isnull().sum() # dim_10_20frame

date_time      1
speed        784
lane           0
auto           0
dtype: int64

In [90]:
df3_mv = 784/1511*100
print("df3_mv :", df3_mv)

df3_mv : 51.88616810059563

In [61]:
df4

              date_time  speed  lane  auto
0    2020-10-1516:04:23    NaN     1     1
1    2020-10-1516:04:24    NaN     1     1
2    2020-10-1516:04:24    NaN     1     1
3    2020-10-1516:04:24    NaN     1     1
4    2020-10-1516:04:25    NaN     1     1
..                  ...    ...   ...   ...
719  2020-10-1516:08:12    NaN     1     1
720  2020-10-1516:08:13    NaN     1     1
721  2020-10-1516:08:13    NaN     1     1
722  2020-10-1516:08:13   68.0     1     1
723  2020-10-1516:08:14    NaN     1     1

[724 rows x 4 columns]

In [62]:
df4.isnull().sum() # dim_10_22frame

date_time      0
speed        365
lane           0
auto           0
dtype: int64

In [91]:
df4_mv = 365/724*100
print("df4_mv :", df4_mv)

df4_mv : 50.41436464088398

In [64]:
df5

              date_time  speed  lane   auto
0    2020-10-1516:08:45    NaN      1     1
1    2020-10-1516:08:45    NaN      1     1
2    2020-10-1516:08:45    NaN      1     1
3    2020-10-1516:08:46    NaN      1     1
4    2020-10-1516:08:46   74.0      1     1
..                  ...    ...    ...   ...
495  2020-10-1516:11:29    3.0      0     0
496  2020-10-1516:11:30    NaN      0     0
497  2020-10-1516:11:30    NaN      0     0
498  2020-10-1516:11:30    NaN      0     0
499  2020-10-1516:11:31    8.0      0     0

[500 rows x 4 columns]

In [65]:
df5.isnull().sum() # dim_10_fullframe

date_time      0
speed        281
lane           0
auto           0
dtype: int64

In [93]:
df5_mv = 281/500*100
print("df5_mv :", df5_mv)

df5_mv : 56.2

In [67]:
df6

              date_time  speed  lane  auto
0    2020-10-1515:59:09  100.0     1     1
1    2020-10-1515:59:10  100.0     1     1
2    2020-10-1515:59:10  100.0     1     1
3    2020-10-1515:59:10  100.0     1     1
4    2020-10-1515:59:11  100.0     1     1
..                  ...    ...   ...   ...
981  2020-10-1516:04:22    NaN     1     1
982  2020-10-1516:04:22   75.0     1     1
983  2020-10-1516:04:23   75.0     1     1
984  2020-10-1516:04:23   75.0     1     1
985  2020-10-1516:04:23   75.0     1     1

[986 rows x 4 columns]

In [68]:
df6.isnull().sum() # indoor_10_22frame

date_time      0
speed        455
lane           0
auto           0
dtype: int64

In [94]:
df6_mv = 455/986*100
print("df5_mv :", df5_mv)

df5_mv : 56.2

In [70]:
df7

              date_time  speed  lane  auto
0    2020-10-1515:38:55   90.0     1     1
1    2020-10-1515:38:55   90.0     1     1
2    2020-10-1515:38:56   90.0     1     1
3    2020-10-1515:38:56   90.0     1     1
4    2020-10-1515:38:56   90.0     1     1
..                  ...    ...   ...   ...
766  2020-10-1515:42:59    NaN     1     1
767  2020-10-1515:42:59    NaN     1     1
768  2020-10-1515:42:59    NaN     1     1
769  2020-10-1515:43:00    NaN     1     1
770  2020-10-1515:43:00    NaN     1     1

[771 rows x 4 columns]

In [25]:
df7.isnull().sum() # indoor_12_22frame

date_time      0
speed        250
lane           0
auto           0
dtype: int64

In [95]:
df7_mv = 250/771*100
print("df7_mv :", df7_mv)

df7_mv : 32.425421530479895

In [72]:
df8

              date_time  speed  lane  auto
0    2020-10-1515:43:48    NaN     1     0
1    2020-10-1515:43:49    NaN     1     0
2    2020-10-1515:43:49    NaN     1     0
3    2020-10-1515:43:49    NaN     1     0
4    2020-10-1515:43:50   68.0     1     0
..                  ...    ...   ...   ...
709  2020-10-1515:47:34    NaN     0     0
710  2020-10-1515:47:34    NaN     0     0
711  2020-10-1515:47:35    NaN     0     0
712  2020-10-1515:47:35    NaN     0     0
713  2020-10-1515:47:35    NaN     0     0

[714 rows x 4 columns]

In [27]:
df8.isnull().sum() # indoor_15_22frame

date_time      0
speed        225
lane           0
auto           0
dtype: int64

In [96]:
df8_mv = 225/714*100
print("df8_mv :", df8_mv)

df8_mv : 31.512605042016805

In [28]:
df9

               date_time  speed  lane  auto
0     2020-10-1514:38:59    8.0     0     0
1     2020-10-1514:39:00    8.0     0     0
2     2020-10-1514:39:00    8.0     0     0
3     2020-10-1514:39:00    8.0     0     0
4     2020-10-1514:39:01    8.0     0     0
...                  ...    ...   ...   ...
1179  2020-10-1514:45:14   57.0     0     0
1180  2020-10-1514:45:15    NaN     0     0
1181  2020-10-1514:45:15    NaN     0     0
1182  2020-10-1514:45:15    NaN     0     0
1183  2020-10-1514:45:15   57.0     0     0

[1184 rows x 4 columns]

In [29]:
df9.isnull().sum() # outdoor_8_22frame

date_time      0
speed        341
lane           0
auto           0
dtype: int64

In [97]:
df9_mv = 341/1184*100
print("df9_mv :", df9_mv)

df9_mv : 28.800675675675674

In [75]:
df10

               date_time  speed  lane  auto
0     2020-10-1514:27:09    NaN     0     0
1     2020-10-1514:27:09    NaN     0     0
2     2020-10-1514:27:10   18.0     0     0
3     2020-10-1514:27:10    NaN     0     0
4     2020-10-1514:27:10    NaN     0     0
...                  ...    ...   ...   ...
2169  2020-10-1514:38:39    NaN     0     0
2170  2020-10-1514:38:40    NaN     0     0
2171  2020-10-1514:38:40    NaN     0     0
2172  2020-10-1514:38:40    NaN     0     0
2173  2020-10-1514:38:41   12.0     0     0

[2174 rows x 4 columns]

In [31]:
df10.isnull().sum() # outdoor_10_22frame

date_time      0
speed        827
lane           0
auto           0
dtype: int64

In [98]:
df10_mv = 827/2174*100
print("df10_mv :", df10_mv)

df10_mv : 38.04047838086477

In [77]:
df11

               date_time  speed  lane  auto
0     2020-10-1514:49:00    NaN     1     1
1     2020-10-1514:49:01    NaN     1     1
2     2020-10-1514:49:01    NaN     1     1
3     2020-10-1514:49:01    NaN     1     1
4     2020-10-1514:49:02    NaN     1     1
...                  ...    ...   ...   ...
3126  2020-10-1515:05:35    NaN     0     1
3127  2020-10-1515:05:35    NaN     0     1
3128  2020-10-1515:05:35    NaN     0     1
3129  2020-10-1515:05:35    NaN     0     1
3130  2020-10-1515:05:36   90.0     0     1

[3131 rows x 4 columns]

In [33]:
df11.isnull().sum() # outdoor_12_22frame

date_time      0
speed        913
lane           0
auto           0
dtype: int64

In [100]:
df11_mv = 913/3131*100
print("df11_mv :", df11_mv)

df11_mv : 29.160012775471095

In [79]:
df12

               date_time  speed  lane  auto
0     2020-10-1515:05:36   90.0     0     1
1     2020-10-1515:05:36   90.0     0     1
2     2020-10-1515:05:37   90.0     0     1
3     2020-10-1515:05:37   90.0     0     1
4     2020-10-1515:05:37   89.0     0     1
...                  ...    ...   ...   ...
2401  2020-10-1515:18:20    4.0     0     0
2402  2020-10-1515:18:21    NaN     0     0
2403  2020-10-1515:18:21   16.0     0     0
2404  2020-10-1515:18:21   16.0     0     0
2405  2020-10-1515:18:21   16.0     0     0

[2406 rows x 4 columns]

In [35]:
df12.isnull().sum() # outdoor_12_bright_max_22frame

date_time      1
speed        533
lane           0
auto           0
dtype: int64

In [102]:
df12_mv = 533/2406*100
print("df12_mv :", df12_mv)

df12_mv : 22.152950955943474

In [81]:
df13

               date_time  speed  lane  auto
0     2020-10-1515:21:57    NaN     0     0
1     2020-10-1515:21:58    NaN     0     0
2     2020-10-1515:21:58    NaN     0     0
3     2020-10-1515:21:58    NaN     0     0
4     2020-10-1515:21:59   93.0     0     0
...                  ...    ...   ...   ...
1109  2020-10-1515:27:51   40.0     0     1
1110  2020-10-1515:27:51   40.0     0     1
1111  2020-10-1515:27:51   40.0     0     1
1112  2020-10-1515:27:52   48.0     0     1
1113  2020-10-1515:27:52   70.0     0     1

[1114 rows x 4 columns]

In [37]:
df13.isnull().sum() # outdoor_12_saturation_max_22frame

date_time      0
speed        224
lane           0
auto           0
dtype: int64

In [103]:
df13_mv = 224/1114*100
print("df13_mv :", df13_mv)

df13_mv : 20.107719928186714

In [83]:
df14

               date_time  speed  lane  auto
0     2020-10-1515:29:56    NaN   0.0   1.0
1     2020-10-1515:29:57   67.0   0.0   1.0
2     2020-10-1515:29:57    NaN   0.0   1.0
3     2020-10-1515:29:57    NaN   0.0   1.0
4     2020-10-1515:29:57   68.0   0.0   1.0
...                  ...    ...   ...   ...
1696  2020-10-1515:38:54   91.0   1.0   1.0
1697  2020-10-1515:38:54   91.0   1.0   1.0
1698  2020-10-1515:38:55   90.0   1.0   1.0
1699  2020-10-1515:38:55   90.0   1.0   1.0
1700  2020-10-1515:38:55   90.0   1.0   1.0

[1701 rows x 4 columns]

In [39]:
df14.isnull().sum() # standard_15_22frame

date_time      0
speed        623
lane           6
auto          11
dtype: int64

In [104]:
df14_mv = 640/1701*100
print("df14_mv :", df14_mv)

df14_mv : 37.6249265138154