In [ ]:
# CHAPTER 01. 데이터

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../python_stat_sample-master/data/ch1_sport_test.csv', index_col = '학생번호')

In [4]:
df

      학년    악력  윗몸일으키기  점수  순위
학생번호
1      1  40.2      34  15   4
2      1  34.2      14   7  10
3      1  28.8      27  11   7
4      2  39.0      27  14   5
5      2  50.9      32  17   2
6      2  36.5      20   9   9
7      3  36.6      31  13   6
8      3  49.2      37  18   1
9      3  26.0      28  10   8
10     3  47.4      32  16   3

In [5]:
df['악력'] 
# 특정 열 추출 : DataFrame이 아닌 Series 라는 데이터 구조
# DataFrame은 2차원의 표 데이터 구조인 반면, Series는 1차원의 데이터 구조이다

학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4
Name: 악력, dtype: float64

In [7]:
# 1.1 데이터의 크기
# 데이터가 주어지면 제일 먼저 확인하는 것이 데이터의 크기
# DataFrame의 크기는 shape라는 인스턴스 변수를 참조하면 알 수 있다

In [8]:
df.shape

(10, 5)

In [9]:
# 일반적으로 shape를 참조하면 2개의 수가 출력된다
# 첫 번째가 데이터에 대한 수이고 두 번째가 변수에 대한 수이다
# 데이터베이스라면 각각 레코드 수, 칼럼 수가 된다
# 여기서는 데이터의 수가 10, 변수의 수가 5이다
# 변수는 학년이나 악력 같은 측정 대상을 가리킨다
# 이 데이터에는 변수가 5개 있으므로 5변수 또는 5차원이라고 한다
# 학생번호의 경우에는 여기서 인덱스로 이용되고 있으므로 변수 개수에 포함되지 않았지만 원래 변수 중 하나이다
# 통계분석에서는 먼저 1변수씩 어떤 특징이 있는지 알아보고 그 다음으로 변수 사이의 관계성을 살펴본다

In [11]:
# 1.2 변수의 종류
# 변수는 그 성질에 따라 다양하게 분류할 수 있다

# 1.2.1. 질적 변수와 양적 변수
# 변수는 크게 질적 변수와 양적 변수 두 가지로 분류할 수 있다
# 질적변수의 예 
# 만족도 : 매우 좋음, 좋음, 보통, 나쁨, 매우 나쁨
# 혈액형 : A형, B형, O형, AB형
# 종류를 구별하기 위한 변수
# 질적 변수 중에서도 남성과 여성, 흡연 여부 등 값이 2개뿐인 질적 변수를 2진변수라고 부르기도 함

# 한편, 시험 점수나 신장과 같이 양을 표현하는 변수를 양적 변수라고 한다
# 주의!
# 남성이나 여성은 질적 변수이지만 데이터상에서 쉽게 처리하기 위해 남성은 0, 여성은 1과 같이 숫자 데이터로 표시하는 경우가 있다
# 즉, 수치 변수라고 해서 전부 양적 변수는 아니다

In [12]:
# 1.2.2 척도 수준
# 질적 변수는 명의 척도와 순서 척도, 양적 변수는 간격 척도와 비례 척도로 더 세분화 된다
# 이 네 가지를 척도 수준이라고 한다

# 명의 척도
# 명의 척도는 단순히 분류하기 위한 변수로 학생번호나 전화번호, 성별 등이 있다
# 명의 척도의 목적은 구별하는 것이므로, 변수의 동일성 여부에만 의미를 둔다
# ex) 학생번호 4와 학생번호 8의 대소 관계는 의미가 없고 합과 차를 계산하더라도 의미있는 결과를 얻을 수 없다

# 순서 척도
# 순서 척도는 관계나 대소 관계에 의미가 있는 변수로, 성적 순위, 설문 조사의 만족도 등이 있다
# 성적 순위에서 8등은 4등보다 순위가 낮으므로 대소 관계에 의미가 없다
# 그러나 4등과 8등의 차이가 8등과 12등의 차이와 동일하다고 비교할 수는 없고, 4등은 8등의 2배라고 주장할 수도 없다

# 간격 척도
# 간격 척도는 대소 관계와 함께 그 차이에도 의미를 두는 변수로 연도나 온도가 그 예이다
# 60도는 30도보다 높은 온도이므로 대소 관계에 의마가 있고 그 차이에 해당하는 수치도 의미가 있다
# 그러나 60도가 30도보다 2배 높은 온도라고 할 수는 없다

# 비례 척도
# 비례 척도는 대소 관계, 차이, 비 모두에 의미가 있는 변수로 길이나 무게 등이 있다
# 길이에서 50cm와 100cm의 차이가 50cm라는 것도, 100cm는 50cm의 2배라는 것도 의미가 있다

# 간격 척도와 비례 척도는 비슷하므로 구별하기가 어려울 떄가 있다
# 두 척도를 구별하는 요령은 0이 '없음'을 나타내는지 여부를 판단하면 된다
# 길이에서 0cm는 길이가 없음을 나타내지만, 온도에서 0도는 온도가 없다는 뜻이 아니다

In [13]:
# 1.2.3 이산형 변수와 연속형 변수
# 변수를 질적/양적 변수가 아닌 이산형/연속형 변수로 나누어 분류할 수도 있다

# 이산형 변수는 0, 1, 2, ... 와 같이 하나하나의 값을 취하는 변수로 서로 인접한 숫자 사이에 값이 존재하지 않는다
# 예를 들어 주사위의 눈은 1, 2, 3, 4, 5, 6이라는 값을 취하고 1.3이라는 어중간한 값을 취하지 않으므로 이산형 변수로 분류된다
# 학교를 결한 횟수나 결석한 학생 수와 같은 계수도 이산형 변수이다

# 연속형 변수는 연속적인 값을 취할 수 있는 변수로, 어떤 두 숫자 사이에도 반드시 숫자가 존재한다
# 길이나 무게, 시간 등은 대표적인 연속형 변수이다

# 실제로 다루는 데이터는 연속형 변수라도 측정 정밀도에 한계가 있어 띄엄띄엄 떨어진 값을 취할 수밖에 없다는 점에 주의!
# 예를 들어 키를 소수점 첫 번째 자리까지의 정밀도로 측정하면, 
# 170.3cm와 170.4cm 사이에는 숫자가 존재하지 않아 엄밀하게 말하면 이산형 변수로 분류된다
# 이와 같이 측정 정밀도의 문제로 이산형이 되는 변수는 상당수 연속형 변수로 취급한다