In [1]:
import pandas as pd

In [4]:
datetime = pd.date_range(start='2020-11-16 18:55:36', end = '2020-11-17 20:00:00', freq='S')

In [5]:
datetime

DatetimeIndex(['2020-11-16 18:55:36', '2020-11-16 18:55:37',
               '2020-11-16 18:55:38', '2020-11-16 18:55:39',
               '2020-11-16 18:55:40', '2020-11-16 18:55:41',
               '2020-11-16 18:55:42', '2020-11-16 18:55:43',
               '2020-11-16 18:55:44', '2020-11-16 18:55:45',
               ...
               '2020-11-17 19:59:51', '2020-11-17 19:59:52',
               '2020-11-17 19:59:53', '2020-11-17 19:59:54',
               '2020-11-17 19:59:55', '2020-11-17 19:59:56',
               '2020-11-17 19:59:57', '2020-11-17 19:59:58',
               '2020-11-17 19:59:59', '2020-11-17 20:00:00'],
              dtype='datetime64[ns]', length=90265, freq='S')

In [13]:
df = pd.DataFrame(datetime, columns = ['datetime'])

In [14]:
df

                 datetime
0     2020-11-16 18:55:36
1     2020-11-16 18:55:37
2     2020-11-16 18:55:38
3     2020-11-16 18:55:39
4     2020-11-16 18:55:40
...                   ...
90260 2020-11-17 19:59:56
90261 2020-11-17 19:59:57
90262 2020-11-17 19:59:58
90263 2020-11-17 19:59:59
90264 2020-11-17 20:00:00

[90265 rows x 1 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90265 entries, 0 to 90264
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  90265 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 705.3 KB